/* MEDIA QUERIES */
/* RESET
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
} */
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
body {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@media (max-width: 600px) {
    .menu a {
      padding: 7px;
    }

    .top {
        background-image: linear-gradient(to bottom right, #f4f0ff  ,  #ffdbd9);
        border-bottom-left-radius:17%;
        border-bottom-right-radius:17%;
    }
    .top-stuff h1{
      padding-top: 2.2rem;
    }
    .top-about:hover {
        transform: none;
        color: rgb(255, 157, 157)
        }
    .middle {
        padding: 2rem;
    }
    .bottom {
        padding: 2.5rem;
        background-image: linear-gradient( #ffffff, #ffecec );
    }
    .bottom p{
        font-size: 25px;
    }
    .htwo {
        font-size: 3.8rem;
        padding-bottom: 2rem;
    }
    .tst {
       padding: 2rem 0;
    }
  .testimonials {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  .signup img {
    width: 100%;
  }
  .signup p  {
      padding-bottom: 2rem;
  }

  } 
/* end media queries */

